        </div> <!-- /.container -->
        <div id="footer">
            <div class="container">
                <p class="footer-block">Learning website created during The Web Developer Bootcamp. If you find any bugs, please contact Kiki at kitkas@seznam.cz</p>
            </div>
        </div>
</body>
</html>